@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 mt-5">Hello and Welcome to my Web Calculator</h1>
    <p class="h3">You can try it by going to the Calculator tab in the Navigation Bar</p>
    <img src="~/undraw_calculator_re_alsc.svg" class="mt-5"/>
</div>
