@{
    ViewData["Title"] = "Socials";
}
<h1 class="text-center mt-5">Here you can find my <span class="text-danger">@ViewData["Title"]</span></h1>

<h2>Instagram</h2>
<h2>Facebook</h2>
<h2>Youtube</h2>
<h2>Discord</h2>

