@{
    ViewData["Title"] = "Socials";
}
<h1 class="text-center mt-5">Here you can find my <span class="text-danger">@ViewData["Title"]</span></h1>

<div class="text-center mt-5">
    <h2><i class="bi bi-instagram text-danger"></i> denis.ts384</h2>
    <h2><i class="bi bi-github"></i> DenisBG312</h2>
    <h2><i class="bi bi-facebook text-info"></i> denis.nedkov.3</h2>
    <h2><i class="bi bi-discord"></i> denka6700</h2></a>
</div>

<img src="~/undraw_social_thinking_re_y8cc.svg" class="mt-5 rounded mx-auto d-block" />
